.storyContainer {
  display: flex;
  justify-content: center;
}
.story {
  text-align: center;
}
.story img {
  width: 10rem;
  margin: 0 auto
}
.story pre {
  font-family: Arial, Helvetica, sans-serif
}